@import '../../_seting.scss';

 .item-list-ul{
    border-radius: $pd-5;
     margin-left: $mtl-10;
     max-height: 510px;
     min-width: 270px;
     width: 270px;
     box-shadow: -2px 0 13px 1px rgba(0, 0, 0, 0.5);
     display: block;
     background-color: #fff;
     &:last-child {
       margin-right:10px;
     }
    
     >*{
       background-color: rgb(245, 245, 245);
   
       color: #000;
       padding: $pd-10;
      
     }

     .brainstom{
       border-top-left-radius: $pd-5;
       border-top-right-radius: $pd-5;
       cursor: pointer;
      display: flex;
      .column-title{
        flex: 90%;
      }
      .column-dropdown-action{
        flex: 10%;

        button.dropdown-btn{
          letter-spacing: 2px;
          &:hover{
            background-color: darken($background_color-btn, 10);
            border-color: darken($background_color-btn, 10);

          }
        }
        

        .dropdown-header.dropdown-header {
          text-align: center;
          background-color: #ccc;
          margin-bottom: 10px;
        }


        .dropdown-item {
          display: block;
          width: 100%;
          padding: 0.25rem 1rem;
          clear: both;
          margin: 5px 0!important;
          font-weight: 400;
          color: #212529;
          text-align: inherit;
          text-decoration: none;
          white-space: nowrap;
          background-color: transparent;
          border: 0;

          &:hover{
            background-color: #ccc;
          }
        }
      }

     }
    
     

     ul{
       overflow-y: auto;
       max-height: 458px;
       padding: 0;
       margin: 0;
       &::-webkit-scrollbar{
         -webkit-appearance: none;
       }
       &::-webkit-scrollbar:vertical{
         width: 11px;
       }
       &::-webkit-scrollbar-thumb{
         background-color:darken( $text_color,  15);
         border-radius: 30px;
       }


       .card-ghost{
         transition: transform 0.18s ease;
         transform: rotateZ(5deg);
     
      }

     
        


      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
      }

      .card-drop-placeholder{
        background-color:rgba(150,150,200,0.1);
        border: 1px dashed #abc;
        margin: 5px;
      }

    
     }

     .form-addcard{
      border-bottom-left-radius: $pd-5;
      border-bottom-right-radius: $pd-5;
 
       .form-addd{
        border-bottom-left-radius: $pd-5;
        border-bottom-right-radius: $pd-5;
        margin: 0 auto;
        background-color: #fff;
        width: 260px;
        max-width: 260px;
        border-radius: 3px;
        textarea#add-clum {
          width: 260px;
          height: 50px;
          border: 1px solid #67b9e8;
          outline: 1px solid #67b9e8;
        }

        button.btn.btn-addgg {
          background-color: #3f7ade;
          color: #fff;
          margin: 5px 0;
          &:hover{
            background-color: darken(#3f7ade, 20);
          }
        }

        button.btn.btn-cane {
          margin-left: 10px;
          &:hover{
            background-color:rgb(244, 110, 110)
          }
        }
      
        }
     }


     .footerf{
       border-bottom-left-radius: $pd-5;
       border-bottom-right-radius: $pd-5;

      .btn-addCard{
        width: 100%;
        border: none;
        background-color: rgb(245, 245, 245);
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgb(224, 217, 217);  
        }

      }

     }
     
   }
   



  