@import '../../_seting.scss';

 .item-list-ul{
    border-radius: $pd-5;
     margin-left: $mtl-10;
     max-height: 510px;
     min-width: 270px;
     width: 270px;
     box-shadow: -2px 0 13px 1px rgba(0, 0, 0, 0.5);
     display: block;
     &:last-child {
       margin-right:10px;
     }
    
     >*{
       background-color: rgb(245, 245, 245);
   
       color: #000;
       padding: $pd-5;
      
     }

     .brainstom{
       border-top-left-radius: $pd-5;
       border-top-right-radius: $pd-5;
       cursor: pointer;
     }
    
     

     ul{
       overflow-y: auto;
       max-height: 510px;
       padding: 0;
       margin: 0;
       &::-webkit-scrollbar{
         -webkit-appearance: none;
       }
       &::-webkit-scrollbar:vertical{
         width: 11px;
       }
       &::-webkit-scrollbar-thumb{
         background-color:darken( $text_color,  15);
         border-radius: 30px;
       }


       .card-ghost{
         transition: transform 0.18s ease;
         transform: rotateZ(5deg);
     
      }

      .form-add{
            /* margin: 0 10px 0 11px; */
            background-color: #fff;
            width: 260px;
            /* margin: -10px; */
            max-width: 260px;
            border-radius: 3px;
      }

      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
      }

      .card-drop-placeholder{
        background-color:rgba(150,150,200,0.1);
        border: 1px dashed #abc;
        margin: 5px;
      }

    
     }
     .footerf{
       border-bottom-left-radius: $pd-5;
       border-bottom-right-radius: $pd-5;

      .btn-addCard{
        width: 100%;
        border: none;
        background-color: rgb(245, 245, 245);
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgb(224, 217, 217);
          
      }

      }

     }
     
   }



  