@import '../../_seting.scss';

 .item-list-ul{
    border-radius: $pd-5;
     margin-left: $mtl-10;
     height: calc(100% - #{$mt-5});
     min-width: 270px;
     width: 270px;
     box-shadow: -2px 0 13px 1px rgba(0, 0, 0, 0.5);
     display: block;
     &:last-child {
       margin-right:10px;
     }
    
     >*{
       background-color: rgb(245, 245, 245);
   
       color: #000;
       padding: $pd-10;
      
     }

     .brainstom{
       border-top-left-radius: $pd-5;
       border-top-right-radius: $pd-5;
     }
    
     

     ul{
       overflow-y: auto;
       max-height: calc(100% - 100px);
       padding-left: 0;
       margin: 0;
       &::-webkit-scrollbar{
         -webkit-appearance: none;
       }
       &::-webkit-scrollbar:vertical{
         width: 11px;
       }
       &::-webkit-scrollbar-thumb{
         background-color:darken( $text_color,  15);
         border-radius: 30px;
       }
    
     }
     .footerf{
       border-bottom-left-radius: $pd-5;
       border-bottom-right-radius: $pd-5;
     }
     
   }