@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$background_color-header : #026AA7;
$background_color-worspace : #1590d6;
$background_color-scoll-x : #28aaf5;
$background_color-btn : #0d6efd;
$text_color : #fff;
$mtl-10 : 10px;
$mt-5 : 5px;
$pd-5 : 5px;
$pd-10 : 10px;
$pd-lef : 10px ;
$px : 5px;
$height-li: 24px;


button:active, button:focus {
  outline:none !important;
  box-shadow:none !important;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  color: $text_color;
  

  form {
    display: block;
    margin-top: 0em;
    padding: 0!important;
  }

}
